

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Content-Language" content="en" />

	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="theme-color" content="#4188c9">

	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">

	<link rel="icon" href="./favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />

	<!-- Generated: 2018-04-15 11:27:52 +0530 -->

	<title>Homepage - tabler.github.io - a responsive, flat and full featured admin template</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

	<!-- Dashboard Core -->
	<link href="/assets//css/dashboard.css" rel="stylesheet" />
	<script src="/assets//js/dashboard.js"></script>


	<!-- c3.js Charts Plugin -->
	<link href="/assets//plugins/charts-c3/plugin.css" rel="stylesheet" />
	<script src="/assets//plugins/charts-c3/plugin.js"></script>

	<!-- Google Maps Plugin -->
	<link href="/assets//plugins/maps-google/plugin.css" rel="stylesheet" />
	<script src="/assets//plugins/maps-google/plugin.js"></script>

	<!-- Input Mask Plugin -->

	<script src="/assets//plugins/input-mask/plugin.js"></script>

</head>

<body class="">

	<div class="page">


		<div class="page-main">

			<div class="header py-4">
				<div class="container">
					<div class="d-flex">
						<a class="header-brand" href="./index.html">
							<img src="/assets/images/dd.png" class="header-brand-img" alt="ConnectIt logo">
							ConnectIt
						</a>

						<div class="d-flex order-lg-2 ml-auto">
							<div class="nav-item d-md-flex">
								<a href="#" class="btn btn-sm btn-outline-primary" target="_blank">Sign out</a>
							</div>
							
								<a href="#" class="nav-link pr-0 leading-none" >
									<span class="avatar"><i class="fa fa-user" aria-hidden="true"></i></span>
									<span class="ml-2 d-none d-lg-block">
										<span class="text-default">Jane Pearson</span>
										<small class="text-muted d-block mt-1">Administrator</small>
									</span>
								</a>
								
						</div>
					</div>
				</div>
			</div>



			<div class="my-3 my-md-5">


				<div class="container">

					<div class="page-header">
						<h1 class="page-title">
							Dashboard
						</h1>
					</div>

					<div class="row row-cards">

						<div class="col-6 col-sm-4 col-lg-3">
							<div class="card">
								<div class="card-body p-3 text-center">
									
									<div class="h1 m-0">0</div>
									<div class="text-muted mb-4">Email Notification Sent</div>
								</div>
							</div>
						</div>
						<div class="col-6 col-sm-4 col-lg-3">
							<div class="card">
								<div class="card-body p-3 text-center">
									
									<div class="h1 m-0">0</div>
									<div class="text-muted mb-4">Text Notification Sent</div>
								</div>
							</div>
						</div>
						<div class="col-6 col-sm-4 col-lg-3">
							<div class="card">
								<div class="card-body p-3 text-center">
									
									<div class="h1 m-0">Twitch</div>
									<div class="text-muted mb-4">Connected Through</div>
								</div>
							</div>
						</div>
						<div class="col-6 col-sm-4 col-lg-3">
							<div class="card">
								<div class="card-body p-3 text-center">
									
									<div class="h1 m-0">23 -Jun -2018</div>
									<div class="text-muted mb-4">Member Since</div>
								</div>
							</div>
						</div>
						
					</div>
					<div class="row row-cards row-deck">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Notifications</h3>
								</div>

								<div class="table-responsive">
									<table class="table card-table table-vcenter text-nowrap">
										<thead>
											<tr>
												<th class="w-1">No.</th>
												<th>Subject</th>
												<th>Text Notification</th>
												<th>Email Notification</th>
												<th>Sent on</th>
											</tr>
										</thead>

										<tbody>

											<tr>
												<td>
													<span class="text-muted">1</span>
												</td>
												<td>
													User Comes Online
												</td>
												<td>
													<span class="status-icon bg-secondary"></span> Not Sent
												</td>
												<td>
													<span class="status-icon bg-success"></span> Delivered
												</td>
												<td>
													15 Dec 2017
												</td>
									
											</tr>

											<tr>
												<td>
													<span class="text-muted">2</span>
												</td>
												<td>
													User Starts Streaming
												</td>
												<td>
													<span class="status-icon bg-secondary"></span> Not Sent
												</td>
												<td>
													<span class="status-icon bg-success"></span> Delivered
												</td>
												<td>
													12 Apr 2017
												</td>
									
											</tr>

											

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		

		<footer class="footer">
			<div class="container">
				<div class="row align-items-center flex-row-reverse">
					<div class="col-auto ml-lg-auto">
						<div class="row align-items-center">
							<div class="col-auto">
								<ul class="list-inline list-inline-dots mb-0">
									<li class="list-inline-item">
										<a href="#">Stack Overflow</a>
									</li>
									<li class="list-inline-item">
										<a href="https://linkedin.com/in/deepak1725">LinkedIn</a>
									</li>
								</ul>
							</div>
							<div class="col-auto">
								<a href="https://github.com/deepak1725" class="btn btn-outline-primary btn-sm">Git Hub</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
						Copyright © 2018 Assignment by
						<a href="https://linkedin.com/in/deepak1725" target="_blank">Deepak Sharma</a>&nbsp;| Licence MIT.
					</div>
				</div>
			</div>
		</footer>
	</div>

</body>
