<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/index">
    <link rel="icon" type="image/x-icon" href="{% static 'myngapp/dist/favicon.ico' %}">
    <title>
        {% block title %}     {% endblock title %}
    </title>
    {% block head %} 
        
    {% endblock head %}

    {% block css %}
        {#        CSS HERE     #}
    {% endblock css %}
    
</head>


<body>
    {% block content %}
        {#    Content Here #}
    {% endblock content %}

    {% block js %}
        {#    JS Here#}
    {% endblock js %}
</body>
</html>