{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %} Welcome to ConnectIt {% endblock title %}

{% block css %}
    <link href="{% static 'myngapp/dist/styles.13e623bb24f4b49cb719.bundle.css' %}" rel="stylesheet"/>
{% endblock css %}

{% block content %}

    {#    Angular Comes Here #}
    <app-root> </app-root>
{% endblock content %}


{% block js %}
    <script type="text/javascript" src="{% static 'myngapp/dist/inline.318b50c57b4eba3d437b.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'myngapp/dist/polyfills.013e0b7434099f69c84d.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'myngapp/dist/main.3ce13b1e54759cb675f0.bundle.js' %}"></script>
{% endblock js %}